<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	<insert id="create" parameterType="bbsVo">
		insert into bbs values (#{id}, #{title}, #{content}, #{writer})
	</insert>
	
		 <select id="one" parameterType="bbsVo" resultType="bbsVo">
		 	select * from bbs where id = #{id}
		 </select>
		 <select id="all" resultType="bbsVo">
		 	select * from bbs 
		 </select>

	<update id="up" parameterType="bbsVo">
		update bbs set title = #{title}, content = #{content} where id = #{id}
	</update>
	<delete id="del" parameterType="bbsVo">
		delete from bbs where id = #{id}
	</delete>
	
	
</mapper>











