<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro">
	<insert id="create" parameterType="proVo">
		insert into pro values (#{id}, #{title}, #{price})
	</insert>
	
		 <select id="one" parameterType="proVo" resultType="proVo">
		 	select * from pro where id = #{id}
		 </select>
		 <select id="all" resultType="proVo">
		 	select * from pro 
		 </select>

	<update id="up" parameterType="proVo">
		update pro set title = #{title}, price = #{price} where id = #{id}
	</update>
	<delete id="del" parameterType="proVo">
		delete from pro where id = #{id}
	</delete>
	
	
</mapper>











